:root {
  --accent: #28a745;
  --accent-hover: rgba(40, 167, 69, 0.8);
  --hover-grey-btn: #f4f4f4;
  --hero-bg: rgba(0, 0, 0, 0.4);
  --white: #fff;
  --black: #000;
  --post-bg: #0284d0;
  --placeholder: #808080;
  --footer-bg: #333333;

  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
