<a class="anchor" id="cases"></a>
<section class="cases">
  <p class="cases__text">This is what we do</p>
  <h3 class="cases__title">Business Cases</h3>
  <p class="cases__text cases__text--part">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="gallery">
    <li class="gallery__item">
      <a class="gallery__link" href="../src/images/cases/cases1.jpg">
        <picture>
          <source
            srcset="
              ../src/images/cases/cases1.jpg    1x,
              ../src/images/cases/cases1@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            srcset="
              ../src/images/cases/cases1.webp    1x,
              ../src/images/cases/cases1@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="gallery__image"
            src="../src/images/cases/cases1.jpg"
            alt="case"
            title="Lorem ipsum dolor sit amet"
          />
        </picture>
      </a>
    </li>

    <li class="gallery__item">
      <a class="gallery__link" href="../src/images/cases/cases2.jpg">
        <picture>
          <source
            srcset="
              ../src/images/cases/cases2.jpg    1x,
              ../src/images/cases/cases2@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            srcset="
              ../src/images/cases/cases2.webp    1x,
              ../src/images/cases/cases2@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="gallery__image"
            src="../src/images/cases/cases2.jpg"
            alt="case"
            title="Lorem ipsum dolor sit amet"
          />
        </picture>
      </a>
    </li>

    <li class="gallery__item">
      <a class="gallery__link" href="../src/images/cases/cases3.jpg">
        <picture>
          <source
            srcset="
              ../src/images/cases/cases3.jpg    1x,
              ../src/images/cases/cases3@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            srcset="
              ../src/images/cases/cases3.webp    1x,
              ../src/images/cases/cases3@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="gallery__image"
            src="../src/images/cases/cases3.jpg"
            alt="case"
            title="Lorem ipsum dolor sit amet"
          />
        </picture>
      </a>
    </li>

    <li class="gallery__item">
      <a class="gallery__link" href="../src/images/cases/cases4.jpg">
        <picture>
          <source
            srcset="
              ../src/images/cases/cases4.jpg    1x,
              ../src/images/cases/cases4@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            srcset="
              ../src/images/cases/cases4.webp    1x,
              ../src/images/cases/cases4@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="gallery__image"
            src="../src/images/cases/cases4.jpg"
            alt="case"
            title="Lorem ipsum dolor sit amet"
          />
        </picture>
      </a>
    </li>

    <li class="gallery__item">
      <a class="gallery__link" href="../src/images/cases/cases5.jpg">
        <picture>
          <source
            srcset="
              ../src/images/cases/cases5.jpg    1x,
              ../src/images/cases/cases5@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            srcset="
              ../src/images/cases/cases5.webp    1x,
              ../src/images/cases/cases5@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="gallery__image"
            src="../src/images/cases/cases5.jpg"
            alt="case"
            title="Lorem ipsum dolor sit amet"
          />
        </picture>
      </a>
    </li>

    <li class="gallery__item">
      <a class="gallery__link" href="../src/images/cases/cases6.jpg">
        <picture>
          <source
            srcset="
              ../src/images/cases/cases6.jpg    1x,
              ../src/images/cases/cases6@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            srcset="
              ../src/images/cases/cases6.webp    1x,
              ../src/images/cases/cases6@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="gallery__image"
            src="../src/images/cases/cases6.jpg"
            alt="case"
            title="Lorem ipsum dolor sit amet"
          />
        </picture>
      </a>
    </li>
  </ul>

</section>
