.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px 30px;
  
  background: var(--footer-bg);

  &__list {
    display: flex;

    margin-bottom: 12px;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__svg {
    padding: 5px;

    width: 32px;
    height: 32px;
  }

  &__svg:hover &__icon {
    fill: var(--accent);
  }

  &__icon {
    fill: var(--white);
    transition: var(--cubic);
  }

  &__text {
    line-height: 1.38;

    color: var(--white);
  }

  @media (width >= 768px) {

    &__list {
      margin-bottom: 10px;
    }

    &__text {
      font-size: 18px;
      line-height: 1.39;
    }
  }
}
