.hero {
  padding: 160px 20px 104px;

  &__title {
    margin: 0 auto 16px;
    text-align: center;

    width: 221px;

    font-weight: 600;
    font-size: 40px;
    line-height: 1.35;

    color: var(--white);

    @media (width >= 321px) {
      width: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 24px;

    font-size: 26px;
    line-height: 1.23;

    text-align: center;

    color: var(--white);
  }

  &__btn {
    display: block;

    margin: 0 auto;

    background: var(--accent);

    font-size: 18px;
    line-height: 1.39;

    &:hover,
    &:focus {
      background: var(--accent-hover);
    }
  }

  &__svg {
    margin-right: 9px;

    height: 11px;
    width: 7px;
  }

  @media (width >= 768px) {
    padding: 378px 25px 378px;

    &__title {
      font-size: 55px;
      line-height: 1.36;
    }

    &__subtitle {
      font-size: 40px;
      line-height: 1.2;
    }
  }

  @media (width >= 1360px) {
    padding: 272px 0 270px;

    &__title {
      font-size: 55px;
      line-height: 1.36;
    }

    &__subtitle {
      font-size: 40px;
      line-height: 1.2;
    }
  }
}
